$susy-box-sizing:border-box;
$susy-columns:12;
$susy-gutters:.25;
$container:95%;
$container-fluid:100%;
// font:font-style,font-variant,font-weight,font-size,line-height,font-family
$global-font: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif !default;
